<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="subCaption">
                <ul>
                    <li><img src="../images/thumbnails/Arctic%20Wolves.png"></li>
                    <li><img src="../images/thumbnails/Blue%20Heat.png"></li>
                    <li><img src="../images/thumbnails/Bombers.png"></li>
                    <li><img src="../images/thumbnails/R%20of%20H.png" style="width: 185px;height: 175px"></li>
                    <li><img src="../images/thumbnails/Inferno.png"></li>
                    <li><img src="../images/thumbnails/Juggernauts.png"></li>
                    <li><img src="../images/thumbnails/Splash.png"></li>
                    <li><img src="../images/thumbnails/Team%20Galaxy.png"></li>
                </ul>
            </div>
            <div class="nav">
                <div id='cssmenu'>
                    <ul>
                        <li class='active'><a href='../'><span>Home</span></a></li>
                        <li class='has-sub'><a href='teams.html'><span>Teams</span></a>
                            <ul>
                                <li><a href='teamStands.html'><span>Standings</span></a></li>
                                <li><a href='teamRanks.html'><span>Rankings</span></a></li>
                                <li class='last'><a href='teamStats.html'><span>Stats</span></a></li>
                            </ul>
                        </li>
                        <li><a href='about.html'><span>About</span></a></li>
                        <li class='last'><a href='contact.html'><span>Contact</span></a></li>
                    </ul>
                    <a href="signup.php" style="float: right"><span>Sign Up!</span></a>
                </div>
            </div>
            <div class="content" style="height: 615px">
                <div class="about-us" style="height: 610px">
                    <h1>About Us</h1>
                    <hr/>
                    <div style="border: solid 2px #000000;height: 350px">
                        <span style="text-align: center;height: 325px;left: 100px">
                            Interesting Image
                        </span>
                    </div>
                    <br/>
                    <div style="border: solid 2px #000000;height: 125px;padding: 10px">
                        <p>
                            Region of Hoops is a faction of individuals who seek to bring together young and older people in the community of Brampton and the rest of the GTA to a level of inspiration where they feel empowered because of their involvement in the community.
                            <br/>
                            <br/>
                            We as a company want to create an exciting experience for basketball lovers world-wide and convey the players on a type of pedestal that they have never been put on before.
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div style="float: left">
                    <h5 style="-webkit-margin-before: 0.95em;">&copy; Region of Hoops <img src="../images/thumbnails/R%20of%20H.png" width="20" height="20"></h5>

                </div>
            </div>
        </div>
    </body>
</html>