<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <title></title>
</head>
<body>
<div class="container">
    <div class="subCaption">
        <ul>
            <li><img src="../images/thumbnails/Arctic%20Wolves.png"></li>
            <li><img src="../images/thumbnails/Blue%20Heat.png"></li>
            <li><img src="../images/thumbnails/Bombers.png"></li>
            <li><img src="../images/thumbnails/R%20of%20H.png" style="width: 185px;height: 175px"></li>
            <li><img src="../images/thumbnails/Inferno.png"></li>
            <li><img src="../images/thumbnails/Juggernauts.png"></li>
            <li><img src="../images/thumbnails/Splash.png"></li>
            <li><img src="../images/thumbnails/Team%20Galaxy.png"></li>
        </ul>
    </div>
    <div class="content" style="height: 525px">
        <div class="contact">
            <h1>E-mail Sent!</h1>
            <hr/>
            <h2 style="font-family: 'Roboto', sans-serif;font-weight: 100">Your message has been sent!</h2><br />

            <p><a href="../index.html">Back to Home Page</a></p>
        </div>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>