<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/main.css">
    <title>Rankings</title>
</head>
<body>
    <div class="container">
        <div class="subCaption">
            <ul>
                <li><img src="../images/thumbnails/Arctic%20Wolves.png"></li>
                <li><img src="../images/thumbnails/Blue%20Heat.png"></li>
                <li><img src="../images/thumbnails/Bombers.png"></li>
                <li><img src="../images/thumbnails/R%20of%20H.png" style="width: 185px;height: 175px"></li>
                <li><img src="../images/thumbnails/Inferno.png"></li>
                <li><img src="../images/thumbnails/Juggernauts.png"></li>
                <li><img src="../images/thumbnails/Splash.png"></li>
                <li><img src="../images/thumbnails/Team%20Galaxy.png"></li>
            </ul>
        </div>
        <div class="nav">
            <div id='cssmenu'>
                <ul>
                    <li class='active'><a href='../'><span>Home</span></a></li>
                    <li class='has-sub'><a href='teams.html'><span>Teams</span></a>
                        <ul>
                            <li><a href='teamStands.html'><span>Standings</span></a></li>
                            <li><a href='teamRanks.html'><span>Rankings</span></a></li>
                            <li class='last'><a href='teamStats.html'><span>Stats</span></a></li>
                        </ul>
                    </li>
                    <li><a href='about.html'><span>About</span></a></li>
                    <li class='last'><a href='contact.html'><span>Contact</span></a></li>
                </ul>
                <a href="signup.php" style="float: right"><span>Sign Up!</span></a>
            </div>
        </div>
        <div class="content" style="height: 615px">
            <div class="about-us" style="height: 610px">

            </div>
        </div>
        <div class="footer">
            <div style="float: left">
                <h5 style="-webkit-margin-before: 0.95em;">&copy; Region of Hoops <img src="../images/thumbnails/R%20of%20H.png" width="20" height="20"></h5>

            </div>
        </div>
    </div>
</body>
</html>