<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../css/teams.css">
    <title>Team Bombers</title>
</head>
<body style="background-color: grey">
<div class="container">
    <div class="subCaption">
        <img src="../../images/thumbnails/Bombers.png">
    </div>
    <div class="content">
        <div class="boxes" style="background-color: #bf290f;-webkit-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);-moz-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);">
            <h1>Team Roster</h1>
            <h3>
                First Name, Last Name - Age, Position
            </h3>

            <h3>
                First Name, Last Name - Age, Position
            </h3>
            <h3>
                First Name, Last Name - Age, Position
            </h3>
            <h3>
                First Name, Last Name - Age, Position
            </h3>
            <h3>
                First Name, Last Name - Age, Position
            </h3>
        </div>
        <div class="stats" style="background-color: #bf290f;-webkit-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);-moz-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);">
            <h1>Stats</h1>

        </div>
        <div class="stats" style="background-color: #bf290f;-webkit-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);-moz-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);">
            <h1>Team Leaders</h1>

        </div>
        <div class="boxes" style="background-color: #bf290f;-webkit-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);-moz-box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);box-shadow: 1px 2px 16px 4px rgba(107,12,12,1);">
            <h1>Team Picture</h1>
            <h1>Put Image Here</h1> <img src="" alt="">
        </div>
    </div>
    <div class="footer">
        <div style="text-align: center;display: block;">
            <h5 style="-webkit-margin-before: 0.95em;">&copy; Region of Hoops <img src="../../images/thumbnails/R%20of%20H.png" width="20" height="20"></h5>
            <h5 style="-webkit-margin-before: 0.95em;"><a href="../../">Back to Region of Hoops</a></h5>
        </div>
    </div>

</div>
<div id="bg">
    <img src="../../images/Bombers.png" alt="">
</div>
</body>
</html>